h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

form{
    width: 20%;
    border: 1px solid #ccc;
    margin: auto;
    padding: 20px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: block;
    width: 100%;
}

input, button{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input:focus, button:focus{
    border: 1.8px solid #1668c4;
}

button{
    margin-bottom: 0px;
    background: #1668c4;
    color: #fff;
    border: none;
}

button:hover{
    background: #4A88F4;
    cursor: pointer;
}

